# DATABASE
# -------------------------------------

# The driver used by SQLAlchemy (e.g., postgresql+psycopg)
DATABASE_PROTOCOL_DRIVER=postgresql+psycopg

# When running via Docker, the API uses the internal service name (e.g., 'postgres-db').
# These values are primarily used when connecting from your local host to the Dockerized
# database or an external PostgreSQL instance.
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=challenge_db_test

